<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>InitMenuServlet</servlet-name>
        <servlet-class>Servlets.InitMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitTitleServlet</servlet-name>
        <servlet-class>Servlets.InitTitleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateObjectServlet</servlet-name>
        <servlet-class>Servlets.CreateObjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteObjectServlet</servlet-name>
        <servlet-class>Servlets.DeleteObjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditObjectServlet</servlet-name>
        <servlet-class>Servlets.EditObjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>Servlets.SearchServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>InitMenuServlet</servlet-name>
        <url-pattern>/Servlets/InitMenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitTitleServlet</servlet-name>
        <url-pattern>/Servlets/InitTitleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateObjectServlet</servlet-name>
        <url-pattern>/Servlets/CreateObjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteObjectServlet</servlet-name>
        <url-pattern>/Servlets/DeleteObjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditObjectServlet</servlet-name>
        <url-pattern>/Servlets/EditObjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/Servlets/SearchServlet</url-pattern>
    </servlet-mapping>
</web-app>